/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

.bg-primary {
    background-color: map-get($primary, default);
    color: white;
}

.bg-primary-lighter {
    background-color: map-get($primary, lighter);
}

.date-picker__date--in-range {
    background-color: map-get($primary, lighter);
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.container {
    display: flex;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
}